#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.banner{
  background-image: url('src/assets/Rectangle 4281.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  width: 100%;
}
/* .content {
  font-weight: bold;
  color: black;
} */